# compiled output
/dist
/build
backend/dist
backend/node_modules
backend/generated

# Node
node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
backend/coverage
/.nyc_output

# IDEs
/.idea
.project
.classpath
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Env files
.env
backend/.env
docker/**/.env

# Runtime
pids
*.pid
*.seed
*.pid.lock
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.temp
.tmp
